//boton general
@mixin button{
    background-color:$opaco;
    border: none;
    border-radius: 25px;
    color:$white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.button--consulta{
  @include button;  
  background-color: $naranja;
    
}
.button--registro{
  @include button;
}
.button--out{
  @include button;
  background-color: $out;
  width: 120px;
}
.button--in{
  @include button;
  background-color: $in;
  width: 120px;
}
.button--volver{
  @include button;
  width: 250px;
}

/* Boton Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  // Ocultando el checkbox por defecto  
  // Slider del boton
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $opaco;
    transition: .4s;
  
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $white;
      transition: .4s;
    }
  }
  
  input {
    &:checked + .slider {
      background-color: $naranja;
    }
  
    &:focus + .slider {
      box-shadow: 0 0 1px $naranja;
    }
  
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
  
  /* Sliders Redondeados */
  
  .slider.round {
    border-radius: 34px;
  
    &:before {
      border-radius: 50%;
    }
  }